nav{
    background-color: rgb(32, 108, 108);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
nav a{
    text-decoration: none;
    color: beige;
}
